USE [master]
GO
/****** Object:  Database [NeoVortex]    Script Date: 12-03-2023 11:56:56 ******/
CREATE DATABASE [NeoVortex]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NeoVortex', FILENAME = N'C:\Program Files\Microsoft SQL Server2019\MSSQL15.MSSQLSERVER\MSSQL\DATA\NeoVortex.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NeoVortex_log', FILENAME = N'C:\Program Files\Microsoft SQL Server2019\MSSQL15.MSSQLSERVER\MSSQL\DATA\NeoVortex_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NeoVortex].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NeoVortex]
GO
/****** Object:  Table [dbo].[BookingData]    Script Date: 12-03-2023 11:56:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingData](
	[CustomerName] [varchar](50) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[Age] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12-03-2023 11:56:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[BookingData] ([CustomerName], [City], [Age]) VALUES (N'asa karycha asta copy ', N'heaven', 24)
GO
INSERT [dbo].[Users] ([Username], [Password]) VALUES (N'deadpool', N'hande')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E42A6A1125]    Script Date: 12-03-2023 11:56:57 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
